.img__layout {
  position: relative;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
}

.img__layout > div {
  display: block;
}

.img__layout > div > div > img {
  width: 100%;
  display: block;
}

.img__layout > div:first-child {
  margin-left: 0 !important;
}
.img__layout > div:last-child {
  margin-right: 0 !important;
}